body {
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #b0bbbf;
    color: #172c33
  }
  
  .topnav {
    overflow: hidden;
    background-color: #6ba292;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #e8e8e8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #e2d4b7;
    color: #172c33;
  }
  
  .topnav a.active {
    background-color: #93827f;
    color: #e8e8e8;
  }
  
  .topnav .icon {
    display: none;
  }

  .topnav i{
    font-size: 27px;
  }
  
  @media screen and (max-width: 550px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 550px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .content{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .loginregister{
    text-align: center;
  }

  .loginregister input:focus{
    background-color: #e2d4b7;
    color: #172c33;
  }

  .loginregister input{
    background-color: #6ba292;
    color: #e8e8e8;
    border-color: #93827f;
    padding: 5px;
  }
  
  .loginregister button{
    background-color: #6ba292;
    color: #e8e8e8;
    border-color: #93827f;
    padding:  10px;
  }

  .loginregister button:hover{
    background-color: #e2d4b7;
    color: #172c33;
  }

  .loginregister select{
    background-color: #6ba292;
    color: #e8e8e8;
    border-color: #93827f;
    padding:  5px;
  }

  .loginregister select:focus{
    background-color: #e2d4b7;
    color: #172c33;
  }

  .loginregister textarea{
    background-color: #6ba292;
    color: #e8e8e8;
    border-color: #93827f;
    padding:  5px;
  }

  .loginregister textarea:focus{
    background-color: #e2d4b7;
    color: #172c33;
  }

  .items{
    column-count: 4;
    column-gap: 1em;
  }


  @media (max-width: 1200px) {
    .items{
      column-count: 3;
      column-gap: 1em;
    }
  }

  @media (max-width: 900px) {
    .items{
      column-count: 2;
      column-gap: 1em;
    }
  }

  @media (max-width: 600px) {
    .items{
      column-count: 1;
      column-gap: 1em;
    }
  }
  
  .item{
    margin: 10px;
    width: 250px;
    padding: 10px;
    border: #6ba292;
    border-width: 2px;
    border-style: solid;
    line-height: 1.2;
    display: inline-block;
  }

  .item img{
    width: 250px;
    height: 150px;
  }

  .item button{
    padding: 5px;
  }

  .shopitem{
    margin: 10px;
    width: 250px;
    border: #6ba292;
    border-width: 1px;
    border-radius: 10px;
    display: inline-block;
  }

  .shopitem img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;
    cursor: pointer;
  }

  .shopitem p{
    padding-left: 5px;
    padding-right: 5px;
  }

  .name{
    color: #6ba292;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
  }

  .price{
    color: #93827f;
    font-size: 150%;
  }

  .productpicture{
    max-width:550px;
    max-height:550px;
  }

  @media (max-width: 650px) {
    .productpicture{
      max-width:300px;
      max-height:300px;
    }
  }

  @media (max-width: 375px) {
    .productpicture{
      max-width:200px;
      max-height:200px;
    }
  }

  .cartitem{
    margin: 5px;
    width: 100%;
  }

  .adjustamount{
    color:#93827f;
    width:150px;
    display:inline-block;
  }

  .adjustamount p{
    color:#93827f;
    width:30px;
    display:inline-block;
    text-align:center;
  }

  .adjustamount button{
    background-color: #6ba292;
    color: #e8e8e8;
    border-color: #93827f;
    padding:  2px;
    width: 30px;
    
  }

  .adjustamount button:hover{
    background-color: #e2d4b7;
    color: #172c33;
  }

  .remove{
    background-color: #6ba292;
    color: #e8e8e8;
    border-color: #93827f;
    margin: 5px;
    padding: 5px;
  }

  .remove:hover{
    background-color: #e2d4b7;
    color: #172c33;
  }